{% extends 'blog/basic.html' %}

{% block body %}







<h1 style="color:white; background-color: black"> {{post.title}} </h1>

    <div class="card mb-5" style="width: 40rem;">
    <img src="/media/{{post.image1}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{post.heading1}}</h5>
      <p class="card-text">{{post.content1}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card mb-5" style="width: 40rem;">
    <img src="/media/{{post.image2}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{post.heading2}}</h5>
      <p class="card-text">{{post.content2}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card mb-5" style="width: 40rem;">
    <img src="/media/{{post.image3}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{post.heading3}}</h5>
      <p class="card-text">{{post.content3}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card mb-5" style="width: 40rem;">
    <img src="/media/{{post.image4}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{post.heading4}}</h5>
      <p class="card-text">{{post.content4}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

<!--{% load static %}-->
  <div class="card mb-5" style="width: 40rem;">
    <img src="/media/{{post.image5}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{post.heading5}}</h5>
      <p class="card-text">{{post.content5}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>


  <div class="card mb-5" style="width: 40rem;">
    <img src="/media/{{post.image6}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{post.heading6}}</h5>
      <p class="card-text">{{post.content6}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

{% endblock %}